        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: #489ee7;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}" style="color:white;">
                    {% if data.systSetting is defined %}
                    {{ data.systSetting.siteName }} - {{ app.user }}
                    {% endif %}

                </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li><button type="button" id="sendToPrint" class="btn btn-primary btn-lg" style="display:none;">Print</button></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#171717;">
                        <i class="fa fa-product-hunt fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="{{ path('product_add') }}">
                                <div>
                                    <strong>Add Product</strong>
                                    <span class="pull-right text-muted">
                                        <em>+</em>
                                    </span>
                                </div>
                                <div>Add a new product.</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('product_list') }}">
                                <div>
                                    <strong>Product List</strong>
                                    <span class="pull-right text-muted">
                                        <em>e</em>
                                    </span>
                                </div>
                                <div>Edit or Delete a product</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('product_cost_list') }}">
                                <div>
                                    <strong>Product Cost List</strong>
                                    <span class="pull-right text-muted">
                                        <em>e</em>
                                    </span>
                                </div>
                                <div>List of products by cost</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('product_price_list') }}">
                                <div>
                                    <strong>Product Price List</strong>
                                    <span class="pull-right text-muted">
                                        <em>e</em>
                                    </span>
                                </div>
                                <div>List of products by price</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('product_restore_list') }}">
                                <div>
                                    <strong>Product Restore</strong>
                                    <span class="pull-right text-muted">
                                        <em>r</em>
                                    </span>
                                </div>
                                <div>Restore a deleted product</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="{{ path('product_list') }}">
                                <strong>View All Products</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#171717;">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="{{ path('category_add') }}">
                                <div>
                                    <strong>Add Category</strong>
                                    <span class="pull-right text-muted">
                                        <em>+</em>
                                    </span>
                                </div>
                                <div>Add a new category.</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('category_list') }}">
                                <div>
                                    <strong>Category List</strong>
                                    <span class="pull-right text-muted">
                                        <em>e</em>
                                    </span>
                                </div>
                                <div>Edit or Delete a category</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('restore_list') }}">
                                <div>
                                    <strong>Category Restore</strong>
                                    <span class="pull-right text-muted">
                                        <em>r</em>
                                    </span>
                                </div>
                                <div>Restore a deleted category</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="{{ path('category_list') }}">
                                <strong>View All Category</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a href="{{ path('systSetting_add') }}" style="color:#171717;">
                        <i class="fa fa-gear fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle bg-white" data-toggle="dropdown" href="#" style="color:#171717;">
                        <i class="fa fa-file-text fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{{ path('sale_list') }}"><i class="fa fa-user fa-fw"></i> History </a></li>
                        <li><a href="{{ path('purchases_view') }}"><i class="fa fa-gear fa-fw"></i> Purchases </a></li>
                        <li><a href="{{ path('items_received') }}"><i class="fa fa-gear fa-fw"></i> Purchases (Individual)</a></li>
                        <li><a href="{{ path('returns_view') }}"><i class="fa fa-gear fa-fw"></i> Purchases Return </a></li>
                        <li><a href="{{ path('items_returned') }}"><i class="fa fa-gear fa-fw"></i> Returns (Individual) </a></li>
                        <li><a href="{{ path('items_sold') }}"><i class="fa fa-gear fa-fw"></i> Sales Report (Individual)</a></li>
                        <li><a href="{{ path('items_sold_grouped') }}"><i class="fa fa-gear fa-fw"></i> Sales Report (Grouped)</a></li>
                        <li><a href="{{ path('tax_report') }}"><i class="fa fa-gear fa-fw"></i> Tax Report (Individual)</a></li>
                        <li><a href="{{ path('tax_accum_report') }}"><i class="fa fa-gear fa-fw"></i> Tax Report (Grouped)</a></li>
                        <li><a href="{{ path('stock_movement') }}"><i class="fa fa-gear fa-fw"></i> Stock Movement </a></li>
                        <li><a href="{{ path('mpesa_view') }}"><i class="fa fa-gear fa-fw"></i> M-Pesa Report </a></li>
                        <li><a href="{{ path('creditCard_view') }}"><i class="fa fa-gear fa-fw"></i> Credit Card Report </a></li>
                        <li><a href="{{ path('cheque_view') }}"><i class="fa fa-gear fa-fw"></i> Cheque Report </a></li>
                        <li><a href="{{ path('stock_take_report') }}"><i class="fa fa-gear fa-fw"></i> Stock Take Report </a></li>
                        <li><a href="{{ path('stock_value_report') }}"><i class="fa fa-gear fa-fw"></i> Stock Valuation Report </a></li>

                        <li class="divider"></li>
                        <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout [{{ app.user }}]</a></li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <h3>Sales</h3>
                        </li>
                        <li>
                            <a href="{{ path('homepage') }}"><i class="fa fa-table fa-fw"></i> Sell</a>
                        </li>
                        <li>
                            <a href="{{ path('sale_list') }}"><i class="fa fa-clock-o fa-fw"></i> History</a>
                        </li>
                        <li>
                            <a href="{{ path('documentation') }}"><i class="fa fa-book fa-fw"></i> Docs</a>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
                <hr />
                <div class="panel panel-primary" id="due" style="display:none;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9 text-right">
                                <div class="huge amountDue">26</div>
                                <div>To be paid</div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="panel panel-green" id="bal" style="display:none;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9 text-right">
                                <div class="huge show_bal">12</div>
                                <div>Balance</div>
                            </div>
                        </div>
                    </div>
                </div>
                <p id="warning"></p>
            </div>
            <!-- /.navbar-static-side -->
        </nav>
