{% extends 'base.html.twig' %}
{% block body %}
{{ include('templates/nav.html.twig') }}			 
<div id="page-wrapper">
<div class="panel-body">
<form action="" method="post">
<div class="row">
  <div class="col-lg-4">
      <div class="panel panel-default">
          <div class="panel-heading">
              Specific Date
          </div>
          <div class="panel-body">
              <input name="form[dateSpecific]" value="{{ app.request.query.get("specific") }}" type="text" class="datepicker" />
          </div>
          <div class="panel-footer">
              One day report
          </div>
      </div>
  </div>
  <div class="col-lg-4">
      <div class="panel panel-success">
          <div class="panel-heading">
              Range
          </div>
          <div class="panel-body">
              <input name="form[dateFrom]" value="{{ app.request.query.get("from") }}" type="text" class="datepicker" />
          </div>
          <div class="panel-footer">
              Start Date
          </div>
      </div>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-4">
      <div class="panel panel-success">
          <div class="panel-heading">
              Range
          </div>
          <div class="panel-body">
              <input name="form[dateTo]" value="{{ app.request.query.get("to") }}" type="text" class="datepicker" />
          </div>
          <div class="panel-footer">
              End date
          </div>
      </div>
  </div>
  <!-- /.col-lg-4 -->
</div>
<input class="btn btn-outline btn-primary btn-lg btn-block" type="submit" {% if app.request.query.get("from") is not empty or app.request.query.get("specific") is not empty %} value = "CLICK HERE TO DOWNLOAD" {% else %} value="SHOW SALES SUMMARY RECORDS" {% endif %} />
</form>
{% if specificStock is defined and specificStock is not empty%}
<div class="panel-body">
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sales Summary for {{ dates.specific }}</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('items_sold_grouped', {'download':'True', 'from':dates.from, 'to':dates.to, 'specific':dates.specific } ) }}">Download PDF <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="">Download Excel <span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>
<table width="100%" class="table table-striped table-bordered table-hover display printTable" id="">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Sales</th>
            <th>Cost</th>
            <th>Tax</th>
            <th>Profit</th>
            {# <th>Manage</th> #}
        </tr>
    </thead>
    <tbody>
{% set salesTotal = 0 %}
{% set costTotal = 0 %}
{% set taxTotal = 0 %}
{% set profitTotal = 0 %}
{% for stock in specificStock %}
	<!--calculations-->
  {% if stock.productTax == 1.16 %}
     {% set thisTax = stock.tax %}
  {% else %}
     {% set thisTax = 0 %}
  {% endif %}
	{% set salesTotal = salesTotal + stock.total %}
	{% set costTotal = costTotal + stock.productCost %}
	{% set taxTotal = taxTotal + thisTax %}
	{% set profitTotal = profitTotal + stock.profit %}
    <tr class="odd gradeX">
        <td><b>{{ stock.productCode }}</b> {{ stock.productName }}</td>
        <td>{{ stock.productQuantity }}</td>
        <td class="center">{{ stock.productSales }}</td>
        <td class="center">{{ stock.productCost }}</td>
	      <td class="center">{{ thisTax|round(2) }}</td>
        <td class="center">{{ stock.profit }}</td>
{#         <td class="center">
            <a href="" class="btn btn-info">
          View
            </a>
            <a href="" class="btn btn-info">
          Edit
            </a>
        </td>
 #}    </tr>
{% endfor %}
  </tbody>
  <tbody>
    <tr class="odd gradeX">
        <td></td>
        <td>Totals</td>
        <td>{{ salesTotal|round(2) }}</td>
        <td>{{ costTotal|round(2) }}</td>
        <td class="center">{{ taxTotal|round(2) }}</td>
        <td class="center">{{ profitTotal|round(2) }}</td>
        {# <td class="center"></td> #}
    </tr>
  </tbody>
</table>
</div>
{% endif %}
{% if rangeStock is defined and rangeStock is not empty %}
<div class="panel-body">
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sales Summary from {{ dates.from }} to {{ dates.to }}</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('items_sold_grouped', {'download':'True', 'from':dates.from, 'to':dates.to, 'specific':dates.specific } ) }}">Download PDF <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="">Download Excel <span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>
<table width="100%" class="table table-striped table-bordered table-hover display printTable" id="">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Sales</th>
            <th>Cost</th>
            <th>Tax</th>
            <th>Profit</th>
            {# <th>Manage</th> #}
        </tr>
    </thead>
    <tbody>

{% set salesTotal = 0 %}
{% set costTotal = 0 %}
{% set taxTotal = 0 %}
{% set profitTotal = 0 %}
{% for stock in rangeStock %}
  {% if stock.productTax == 1.16 %}
     {% set thisTax = stock.tax %}
  {% else %}
     {% set thisTax = 0 %}
  {% endif %}
	{% set salesTotal = salesTotal+stock.productSales %}
	{% set costTotal = costTotal+stock.productCost %}
	{% set taxTotal = taxTotal + thisTax %}
	{% set profitTotal = profitTotal + stock.profit %}
        <tr class="odd gradeX">
        	<td><b>{{ stock.productCode }}</b> {{ stock.productName }}</td>
            <td>{{ stock.productQuantity }}</td>
            <td class="center">{{ stock.productSales }}</td>
        	<td class="center">{{ stock.productCost }}</td>
	        <td class="center">{{ thisTax|round(2) }}</td>
        	<td class="center">{{ stock.profit }}</td>
           {#  <td class="center">
                <a href="" class="btn btn-info">
              View
                </a>
                <a href="" class="btn btn-info">
              Edit
                </a>
            </td> #}
        </tr>
{% endfor %}
  </tbody>
  <tbody>
    <tr class="odd gradeX">
        <td></td>
        <td>Totals</td>
        <td>{{ salesTotal|round(2) }}</td>
        <td>{{ costTotal|round(2) }}</td>
        <td class="center">{{ taxTotal|round(2) }}</td>
        <td class="center">{{ profitTotal|round(2) }}</td>
        {# <td class="center"></td> #}
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
{% endif %}
{# {% if rangeStock is defined %}
  {{ dump(rangeStock) }}
{% endif %}
 #}{% endblock %}
