{% extends 'layout-pdf.html.twig' %}
{% block stylesheets %}
<style type="text/css">
    body {
        font-size: 8px;
    }
 	table {
        font-size: 12px;
    	border-collapse: collapse;
	}

	table, th, td {
	    border: 1px solid black;
	} 

	th {
	    text-align: left;
	} 
	th, td {
	    padding: 1px;
	    text-align: left;
    	border-bottom: 1px solid #ddd;
   	} 
 	tr:nth-child(even) {background-color: #f2f2f2} 
     
    table thead tr {
        page-break-inside: avoid;
    }
    table tbody tr {
        page-break-inside: avoid;
    }

    .text-center{
    	text-align: center;
    }

    .text-right {
    	text-align: right;
    }
</style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 printTable">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <p>
                            <em>Date: {{ data.sale.onDate|date('Y-m-d') }}</em>
                        </p>
                        <p>
                            <em>Number : {{data.sale.id}}</em>
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <address>
                            <h5>Purchase Return</h5>
                            <h3>Supplier Details</h3>
                            <a style="cursor:pointer;" data-toggle="modal" data-target="#setAddress">{{ data.company|upper }}</a><br />
                            <a style="cursor:pointer;" data-toggle="modal" data-target="#setAddress">{{ data.address|upper }}</a>
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <h1><a style="cursor:pointer;" data-toggle="modal" data-target="#setRefNo">Ref No : {{ data.refNo }}</a> </h1>
                    </div>
                    <table class="table table-hover" id="receiptTable">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Item</th>
                                <th>Qty</th>
                                <th class="text-center">Cost</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stock in data.stocks %}
                                <tr>
                                    <td style="cursor:pointer;"><a data-toggle="modal" data-target="#returnModal{{stock.id}}">{{stock.product.productCode}}</a></td>
                                    <td style="cursor:pointer;"><a data-toggle="modal" data-target="#returnModal{{stock.id}}">{{stock.product}}</a></td>
                                    <td>{{stock.quantity}}</td>
                                    <td class="text-center">{{stock.unitCost}}</td>
                                    <td class="text-center">{{ stock.unitCost * stock.quantity }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">
                                <p>
                                    <strong>Total: </strong>
                                </p>
                                </td>
                                <td class="text-center">
                                <p id="receiptTotal">{{data.sale.totalSale}}</p>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}