{% extends 'layout-pdf.html.twig' %}
{% block stylesheets %}
<style type="text/css">
    body {
        font-size: 8px;
    }
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    } 

    th {
        text-align: left;
    } 
    th, td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    } 
    tr:nth-child(even) {background-color: #f2f2f2} 

</style>
{% endblock %}
{% block content %}
{% set goodsAvailable = returns + stockIn %}       
{% set goodsSold = sales - returns %}
{% set balance = goodsAvailable - goodsSold %}       
<div id="page-wrapper">
<div class="panel-body">
{% if specificStock is defined and specificStock is not empty%}
{% set total = 0 %}
{% set changingStock = balance %}
<div class="panel-body">
<table width="100%" class="table table-striped table-bordered table-hover display" id="">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Transaction</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th>Balance as on {{ app.request.query.get("from") }}</th>
        <th></th>
        <th></th>
        <th></th>
        <th>{{ balance }}</th>
    </tr>
{% set total = 0 %}
{% for stock in specificStock %}
  <!--calculations-->
  {% if stock.transaction == "sto" %}
    {% set transaction = "Re-stock" %}
    {% set changingStock = changingStock + stock.retailCost * stock.quantity %}
  {% elseif stock.transaction == "ret" %}
    {% set transaction = "Returns" %}
    {% set changingStock = changingStock + stock.retailCost * stock.quantity %}
  {% elseif stock.transaction == "sus" %}
    {% set transaction = "Suspended" %}
  {% elseif stock.transaction == "sal" %}
    {% set transaction = "Sale" %}
    {% set changingStock = changingStock - stock.retailCost * stock.quantity %}
  {% endif %}
    <tr class="odd gradeX">
        <td><b>{{ stock.product.productCode }}</b> | {{ stock.product }}</td>
        <td>{{ stock.onDate | date('Y-m-d') }}</td>
        <td>{{ stock.quantity }}</td>
        <td class="center">{{ transaction }}</td>
        <td class="center">{{ changingStock }}</td>
    </tr>
{% endfor %}
  </tbody>
  <tbody>
    <tr class="odd gradeX">
        <td>Balance as on {{app.request.query.get("to")}}</td>
        <td></td>
        <td></td>
        <td class="center"></td>
        <td class="center">{{ changingStock|round(2) }}</td>
        <td class="center"></td>
    </tr>
  </tbody>
</table>
</div>
{% endif %}
{% if rangeStock is defined and rangeStock is not empty %}
{% set total = 0 %}
{% set changingStock = balance %}
<div class="panel-body">
<table width="100%" class="table table-striped table-bordered table-hover display" id="">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Transaction</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th>Balance as on {{ app.request.query.get("from") }}</th>
        <th></th>
        <th></th>
        <th></th>
        <th>{{ balance }}</th>
    </tr>
{% set total = 0 %}
{% for stock in rangeStock %}
  {% if stock.transaction == "sto" %}
    {% set transaction = "Re-stock" %}
    {% set changingStock = changingStock + stock.retailCost * stock.quantity %}
  {% elseif stock.transaction == "ret" %}
    {% set transaction = "Returns" %}
    {% set changingStock = changingStock + stock.retailCost * stock.quantity %}
  {% elseif stock.transaction == "sus" %}
    {% set transaction = "Suspended" %}
  {% elseif stock.transaction == "sal" %}
    {% set transaction = "Sale" %}
    {% set changingStock = changingStock - stock.retailCost * stock.quantity %}
  {% endif %}
  {% set total = total + changingStock %}
        <tr class="odd gradeX">
            <td>{{ stock.product }}</td>
            <td>{{ stock.onDate | date('Y-m-d') }}</td>
            <td>{{ stock.quantity }}</td>
            <td class="center">{{ transaction }}</td>
            <td class="center">{{ changingStock }}</td>
        </tr>
{% endfor %}
  </tbody>
  <tbody>
    <tr class="odd gradeX">
        <td>Balance as on {{app.request.query.get("to")}}</td>
        <td></td>
        <td></td>
        <td class="center"></td>
        <td class="center">{{ changingStock|round(2) }}</td>
        <td class="center"></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
{% endif %}
{% if allStock is defined and allStock is not empty %}
{% set changingStock = balance %}
<div class="panel-body">
<table width="100%" class="table table-striped table-bordered table-hover display" id="">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Transaction</th>
            <th>Balance</th>
        </tr>
    </thead>
<tbody>
        <tr>
            <th>Balance as on {{ app.request.query.get("from") }}</th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{ balance }}</th>
        </tr>
{% for stock in allStock %}
  {% if stock.transaction == "sto" %}
    {% set transaction = "Re-stock" %}
    {% set changingStock = changingStock + stock.retailCost * stock.quantity %}
  {% elseif stock.transaction == "ret" %}
    {% set transaction = "Returns" %}
    {% set changingStock = changingStock + stock.retailCost * stock.quantity %}
  {% elseif stock.transaction == "sus" %}
    {% set transaction = "Suspended" %}
  {% elseif stock.transaction == "sal" %}
    {% set transaction = "Sale" %}
    {% set changingStock = changingStock - stock.retailCost * stock.quantity %}
  {% endif %}
        <tr class="odd gradeX">
            <td>{{ stock.product }}</td>
            <td>{{ stock.onDate | date('Y-m-d') }}</td>
            <td>{{ stock.quantity }}</td>
            <td class="center">{{ transaction }}</td>
            <td class="center">{{ changingStock }}</td>
        </tr>
{% endfor %}
  </tbody>
  <tbody>
    <tr class="odd gradeX">
        <td>Balance as on {{app.request.query.get("to")}}</td>
        <td></td>
        <td></td>
        <td class="center"></td>
        <td class="center">{{ changingStock|round(2) }}</td>
        <td class="center"></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
{% endif %}
{# returns
{{ dump(returns) }}
sales
{{ dump(sales) }}
stock in
{{ dump(stockIn) }}
goods available 
{{ dump(goodsAvailable) }}
goods sold
{{ dump(goodsSold) }}
 #}{% endblock %}