{% extends 'base2.html.twig' %}
{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div style="background-image:url({{asset('images/abc.jpg')}}); background-repeat:no-repeat; background-size:cover; min-height:800px;">
      <div class="row">
      <form class="form-signin panel col-md-6 col-md-offset-5" action="{{ path('login') }}" method="post" style="margin-left:37%;">

        <h2 class="form-signin-heading">Please log in</h2>
        <select id="select_email" class="form-control">
          {% for user in data.users %}
            <option value="{{ user.email }}">{{ user.fName ~ ' ' ~ user.lName }} {% if user.admin == 1 %} [ADMIN] {% endif %}</option>
          {% endfor %}
        </select>
        <input type="email" id="username" name="_username" value="{{ data.users|first.email }}" class="form-control" placeholder="Email address" style="display:none" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" autocomplete="off" name="_password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        {% if data.users is not empty %}
          {# do nothing #}
        {% else %}
        <a href="{{ path('user_registration') }}">First Admin User?</a>
        {% endif %}
      </form>
    </div>
</div>
{% endblock %}
{% block javascripts %}

  <script type="text/javascript">
    $( "#select_email" ).change(function() {
        $('#username').val($(this).val());
    });
  </script>

{% endblock %}